.title {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  height: 0px;
  width: 100%;
}

.container{
  font-weight: 500;
  font-size: medium;
}



h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3em;
  color: #0c0c0c;
  text-shadow: 3px 2px 2px rgb(100, 103, 104);
}

.descriptionDish {
  /* width: 600px;
  height: 100px; */
  /* margin: -20px 20px 0px 0px; */
  text-align: justify;
  font-size: 1em;
}

.descriptionRec {

  width: 600px;
  height: 100px;
  margin: 10px 20px 0px 0px;
  text-align: justify;
  font-size: 1.1em;

  font-weight: bold;
}

.cont {
  min-height: 125px;
}

.edad {
  font-size: 1.2em;
  text-align: left;

}


.btn-enlace {
  margin: 30px 20px 0px 0px;
  box-shadow: 5px 5px 5px 0px rgba(104, 100, 100, 0.637);
}


.imageDish {
  margin: -20px 20px 0px 0px;
  border: 2px solid rgba(31, 37, 36, 0.781);
  box-shadow: 5px 5px 5px 0px rgba(104, 100, 100, 0.4);
  margin: 50px;
width: 250px;
 height: 170px;
}

.card{
  box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
  border: 2px solid grey;
  background-image:  radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(253, 250, 250) 100%);

  padding: 20px;
  margin-bottom: 20px;
}


.cardInside{
  box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
  border: 2px solid grey;
  background-image:  radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(253, 250, 250) 100%);
  padding: 20px;
  width:100%;
}

.cardInside2{
  background-color: rgb(255, 255, 255, 0.9) !important;
  text-align: center;
  width:auto;
  
 }


.cardInside3{
  box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
  border: 2px solid grey;
  background-image:  radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(250, 250, 255) 100%);

  padding: 20px;
  width:100%;

 }

.cardInsideVal{
  box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
  border: 3px solid #17a2b8;
  background-image:  radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(226, 255, 255) 80%);
  padding: 20px;


}

.ingredienteAdd{
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
  border: 1px solid rgb(7, 7, 7);
  padding: 10px;
  margin-bottom: 20px;
  weight: 50%;
  border-radius: 15px;

}

.spanColor {
  background: linear-gradient(
    to top,
    rgba(146, 221, 205, 1) 0%,
    rgba(7, 110, 128, 1) 100%
  );
  color: #ffffff;
}

.tabTitle {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
}

