body {
    background-image:  url("../images/food.png");
    /* background-position: 0cm; */
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
  
  td{
      background-color: white;
  }