.card{
    box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
    border: 2px solid grey;
    background-image:  radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(253, 250, 250) 100%);
  
    padding: 20px;
    margin-bottom: 20px;
  }
  
  
  .cardInside{
    box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
    border: 2px solid grey;
    background-image:  radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(253, 250, 250) 100%);
    padding: 20px;
    padding-left: 40px;
  
  }

  .cardInside2{
    box-shadow: 10px 10px 5px 0px rgba(170, 167, 167, 0.6);
    border: 2px solid grey;
    background-image:  radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(253, 250, 250) 100%);
    padding: 20px;
    padding-left: 40px;
    margin-top: 20px;
  
  }
  .myInputs{
      margin-left: 10px;
  }