html {
  position: relative;
  min-height: 100%;
}

body {


  margin-bottom: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin-bottom: 120px;
}

.jilorioInfo {
  height: 50%;
  width: 50%;
  color: rgba(255, 255, 255, 0.897);

  padding: 10px 40px 15px 40px;
  color: rgba(255, 255, 255, 0.897);
  background-color: rgba(31, 37, 36, 0.92);
  /* background-color:  rgba(172, 189, 186, 0.70);  */
}

.detailsSpan {
  font-weight: 900;
  font-size: 1.4rem;
}

.btn {
  font-size: 1.2em !important;
}

.a {
  color: white;
}
a:hover {
  color: #343a40;
}

.imgen {
  width: 80%;
  height: 99%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 60px;
  background-color: rgb(31, 37, 36);
  border-top: 2px solid rgba(172, 189, 186, 0.2);
}

.display-4 {
  font-size: 3.5em;
  font-weight: bold;
}

.textarea {
  width: 90%;
}

#alimentos {
  table-layout: fixed;
  width: 100% !important;
}
#alimentos td{
  width: auto !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
#alimentos th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardJson {
  box-shadow: 15px 15px 5px 0px rgba(170, 167, 167, 0.6);
  border: 6px dashed #0d6977;
  /* border-style: ; */
  background-image: radial-gradient(
    ellipse at center,
    rgb(255, 255, 255) 0%,
    rgb(253, 250, 250) 100%
  );
  padding: 40px;

  margin-bottom: 20px;
}

.ejemplo {
  padding-left: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.nutrientesTitle {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

label {
  font-weight: 550;
}

.jumbotron {
  /* background-color: rgba(172, 189, 186, 0.20); */
  background-image: url("../images/carousel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.infoPage {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  text-shadow: 2px 2px 2px rgb(100, 103, 104);
}

.row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.features-icons-icon {
  margin-bottom: 15px;
}

.features-icons-icon:hover {
  transform: scale(1.18);
}

.infoPage span {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 38px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.izq {
  display: block;
  float: left;
  font-weight: initial;
  color: rgba(255, 255, 255, 0.699);
}

.der {
  display: block;
  float: right;
  font-weight: initial;
  color: rgba(255, 255, 255, 0.699);
}

nav {
  background-color: #1f2524;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 0;
  margin-bottom: 1rem;
}

.feature {
  font-weight: 800 !important;
  padding: 10px;
  font-size: 1.4rem;

  /* padding-bottom: 20px; */
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  text-align: justify;
  font-size: 4em;
  color: #ffffff;
  text-shadow: 3px 2px 2px rgb(100, 103, 104);
}



.jumbotronPlatos {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(252, 247, 0, 0.25); */
  background-image: url("../images/platos.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.platos {
  width: 30%;
  min-height: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

.jumbotronMenus {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 255, 213, 0.25);
     */
  background-image: url("../images/menu.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.menus {
  width: 30%;
  min-height: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

.jumbotronPlanificacion {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 153, 255, 0.25); */
  background-image: url("../images/planificacion.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.page-item.active .page-link {
  background: linear-gradient(
    to top,
    rgba(146, 221, 205, 1) 0%,
    rgba(7, 110, 128, 1) 100%
  );
  border: 2px solid rgb(46, 115, 124);
}

.planificacion {
  min-width: 420px;
  min-height: 250px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

.jumbotronRecomendation {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 153, 255, 0.25); */
  background-image: url("../images/carne.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.recomendation {
  min-width: 420px;
  min-height: 250px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

.jumbotronRecomendation {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 153, 255, 0.25); */
  background-image: url("../images/recomendacion.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.recomendation {
  min-width: 420px;
  min-height: 250px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

.jumbotronEvaluation {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 153, 255, 0.25); */
  background-image: url("../images/evaluacion.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.evaluation {
  min-width: 420px;
  min-height: 250px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

.jumbotronFood {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 153, 255, 0.25); */
  background-image: url("../images/alimentos.png");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.food {
  min-width: 420px;
  min-height: 250px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

a {
  color: white;
}

table td {
  max-width: 400px;
}

@import url(https://fonts.googleapis.com/css?family=Open + Sans);

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

label {
  font-size: 1.1em;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

input {
  font-size: 1.1em !important;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  margin-top: 60px;
  margin-bottom: -30px;
  width: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spanColor {
  background: linear-gradient(
    to top,
    rgba(146, 221, 205, 1) 0%,
    rgba(7, 110, 128, 1) 100%
  );
  color: #ffffff;
}

.jsonBody {
  background: linear-gradient(
    to bottom,
    rgba(252, 252, 252, 1) 0%,
    rgba(252, 252, 252, 0.8) 30%,
    rgba(206, 206, 206, 0.5) 70%,
    rgba(132, 146, 150, 0.45) 100%
  );
}

.table {
  text-align: center;
  margin-bottom: 40px;
  border: 2px solid rgb(46, 115, 124);

  box-shadow: 5px 5px 5px 0px rgba(170, 167, 167, 0.6);
}